<li class="span-11" id="<%= feed_item.id %>">

  <div class="gravatar span-2">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </div>
  <div class="micropost span-7">
    <div class="span-7 last">
      <span class="user">
        <%= link_to feed_item.user.name, feed_item.user %>
      </span>
      <span class="content"><%= wrap(feed_item.content) %></span>
    </div>
    <span class="timestamp span-7 last">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </div>

  <div class="span-1 last">
  <% if current_user?(feed_item.user) %>

      <%= link_to "delete", feed_item, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => feed_item.content %>

  <% end %>
  </div>
</li>
<hr />
